autopep8==1.5.7
Babel==2.9.1
blinker==1.4
cachelib==0.2.0
certifi==2021.5.30
charset-normalizer==2.0.3
click==7.1.2
emoji==0.6.0
erlang-py==2.0.2
feedparser==6.0.8
filetype==1.0.7
Flask==1.1.4
Flask-Assets==2.0
Flask-Babel==1.0.0
Flask-Login==0.5.0
future==0.18.2
idna==3.2
ifaddr==0.1.7
immutabledict==1.3.0
itsdangerous==1.1.0
Jinja2==2.11.3
Markdown==3.1.1
MarkupSafe==1.1.1
netaddr==0.8.0
netifaces==0.11.0
OctoPrint==1.6.1
OctoPrint-FileCheck==2021.2.23
OctoPrint-FirmwareCheck==2021.5.31
OctoPrint-PiSupport==2021.6.14
pathtools==0.1.2
pkginfo==1.7.1
psutil==5.8.0
pycodestyle==2.7.0
pylru==1.2.0
pyserial==3.5
pytz==2021.1
PyYAML==5.4.1
regex==2021.7.6
requests==2.26.0
sarge==0.1.5.post0
semantic-version==2.8.5
sentry-sdk==0.20.3
sgmllib3k==1.0.0
six==1.16.0
toml==0.10.2
tornado==5.1.1
Unidecode==0.4.21
urllib3==1.26.6
watchdog==0.10.4
webassets==2.0
websocket-client==0.59.0
Werkzeug==1.0.1
wrapt==1.12.1
zeroconf==0.24.5
zipstream-new==1.1.8
